button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: large;
}

.modal-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.787);
}

.modal-box.hidden {
  display: none;
}

.modal-box.show {
  display: block;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.open-modal {
  background-color: rgb(40, 40, 238);
}

.no-button {
  background-color: rgb(236, 98, 83);
}

.modal-header > h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
