body {
  margin: 0;
}

.row {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-button {
  padding: 100px 100px;
  border: none;
  border-radius: 50%;
}

.light-button.on {
  background-color: khaki;
  box-shadow: 0 0 50px khaki;
}

.light-button.off {
  background-color: rgb(42, 42, 42);
  box-shadow: 0 -15px 2px rgb(7, 7, 7);
}

.row.on {
  background-color: floralwhite;
}

.row.off {
  background-color: rgb(17, 17, 17);
}
